<div class="container pt-3" *ngIf="orders">
  <div class="row">
    <div class="col-sm-6">
      <h1>Order list - Admin</h1>
    </div>

    <div class="col-sm-6">
      <div class="form-group">
        <input type="text" list="autoComplete" class="form-control" [(ngModel)]="userFilter._id" placeholder="Search.." id="searchOrders"
          name="searchOrders">
        <datalist id="autoComplete">
          <option [value]="order?._id" *ngFor="let order of orders | slice:0:5 | filterBy: userFilter">
        </datalist>
      </div>

    </div>
  </div>
</div>
<div class="container" *ngIf="orders">
  <div class="row jumbotron" *ngFor="let order of orders | filterBy: userFilter">
    <div class="col-3">
      <a [routerLink]="['/orders', order._id]">
        <img [src]='order?.showInfo[0].movieInfo[0].posterImagePath' alt="{{order?.showInfo[0].movieInfo[0].title}}" class="img-responsive img-thumbnail">
      </a>
    </div>
    <div class="col-9 d-flex flex-column">
      <div class="d-flex flex-column">
        <a [routerLink]="['/orders', order._id]">
          <h1>
            {{order?._id}}
          </h1>
        </a>

      </div>
      <div class="d-flex flex-column">
        <span class="font-weight-bold">Movie</span>
        <a [routerLink]="['/movies', order?.showInfo[0].movieInfo[0]._id]">
        <span>{{order?.showInfo[0].movieInfo[0].title}}</span>
        </a>
      </div>

      <div class="d-flex flex-column">
          <span class="font-weight-bold">Theater</span>
          <span>{{order?.showInfo[0].theaterInfo[0].name}}</span>
        </div>

        <div class="d-flex flex-column">
            <span class="font-weight-bold">Show id</span>
            <a [routerLink]="['/shows', order?.showInfo[0]._id]">
            <span>{{order?.showInfo[0]._id}}</span>
            </a>
          </div>
          <div class="d-flex flex-column">
              <span class="font-weight-bold">Number of tickets</span>
              <span>{{order?.numberOfTickets}}</span>
            </div>
          <div class="d-flex flex-column">
              <span class="font-weight-bold">Order time</span>
              <a [routerLink]="['/shows', order?.showInfo[0]._id]">
              <span>{{getTime(order?.dateTime)}}</span>
              </a>
            </div>
            <div class="d-flex flex-row justify-content-end mt-auto">
                <button type="button" class="btn btn-danger" (click)="deleteOrder(order?._id)">Delete order</button>
              </div>
    </div>
  </div>
  <p *ngIf="(orders | filterBy: userFilter).length === 0">No matching Orders</p>
</div>