<div class="container pt-3" *ngIf="editedMovie">
  <h2>Edit Movie</h2>

  <form (ngSubmit)="onSubmitEdit()" #f="ngForm">
    <div class="form-group">
      <label for="title">Title:</label>
      <input type="text" class="form-control" [(ngModel)]="editedMovie.title" id="title" name="title" required>
      <span class="help-block" *ngIf="!f.controls.title?.valid && f.controls.title?.touched">Please enter a valid Title</span>
    </div>
    <div class="form-group">
      <label for="director">Director:</label>
      <input type="text" class="form-control" [(ngModel)]="editedMovie.director" id="director" name="director" required>
      <span class="help-block" *ngIf="!f.controls.director?.valid && f.controls.director?.touched">Please enter a valid Director</span>
    </div>

    <div class="form-group">
      <label name="durationInMin">Duration in min:</label>
      <input type="number" class="form-control" [(ngModel)]="editedMovie.durationInMin" id="durationInMin" name="durationInMin" min="1" max="300" required>
      <span class="help-block" *ngIf="!f.controls.durationInMin?.valid && f.controls.durationInMin?.touched">Please enter a valid number of minutes</span>
    </div>

    <div class="form-group" *ngIf="genreList">
      <label for="moviesGenres">Movie Genres:</label>
      <select multiple class="form-control" [(ngModel)]="this.editedMovie.genreList" id="moviesGenres" name="moviesGenres" required>
        <option *ngFor="let genre of genreList | async" [value]="genre._id">{{genre.genre}}</option>
      </select>
      <small id="moviesGenresHelp" class="form-text text-muted">Multiple select. Hold down the Ctrl (windows) / Command (Mac) button to select multiple options..</small>
      <span class="help-block" *ngIf="!f.controls.moviesGenres?.valid && f.controls.moviesGenres?.touched">Please select a valid genre</span>
    </div>
    <div class="form-group">
      <label for="description">Description:</label>
      <textarea class="form-control" [(ngModel)]="editedMovie.description" id="description" name="description" required></textarea>
      <span class="help-block" *ngIf="!f.controls.description?.valid && f.controls.description?.touched">Please enter a valid Description</span>
    </div>
    <div class="form-group">
      <label for="releaseYear">Release Year:</label>
      <input type="number" class="form-control" [(ngModel)]="editedMovie.releaseYear" id="releaseYear" name="releaseYear" min="1900" max="2030" required>
      <span class="help-block" *ngIf="(!f.controls.releaseYear?.valid || f.controls.releaseYear?.errors?.min) && f.controls.releaseYear?.touched">Please enter a valid Release Year</span>
    </div>
    <div class="form-group">
      <label for="youtubeTrailer">Youtube Trailer:</label>
      <input type="text" class="form-control" [(ngModel)]="editedMovie.youtubeTrailer" id="youtubeTrailer" name="youtubeTrailer" required>
      <small id="youtubeTrailerHelp" class="form-text text-muted">Insert only the video id. e.g: youtube link: https://youtu.be/xrzXIaTt99U -> You enter: xrzXIaTt99U</small>
      <span class="help-block" *ngIf="!f.controls.releaseYear?.valid && f.controls.releaseYear?.touched">Please enter a valid youtube</span>
    </div>
    <div class="form-group">
      <label for="posterPic">Poster image:</label>
      <input type="file" id="posterPic" class="form-control-file" ng2FileSelect [uploader]="uploaderPosterPic" [(ngModel)]="posterPicTempPath" id="posterPic" name="posterPic">
    </div>
    <div class="form-group">
      <label for="widePic">Wide image:</label>
      <input type="file" id="widePic" class="form-control-file" ng2FileSelect [uploader]="uploaderWidePic" [(ngModel)]="widePicTempPath" id="widePic" name="widePic">
    </div>

    <div class="form-group">
      <label for="isDisplaying" class="form-check-label form-inline">
        <input class="form-check-input" type="checkbox" [(ngModel)]="editedMovie.isDisplaying" id="isDisplaying" name="isDisplaying">Is displaying
      </label>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!f.valid">Submit</button>
  </form>
</div>
