  <div class="row no-gutters">
    <div class="col-12">
      <app-movies-carusela [movieListArray]="movieListArray">
      </app-movies-carusela>
    </div>
  </div>

  <div class="row no-gutters">
    <div class="col-12">
      <app-quick-order [movieList]="movieListArray"></app-quick-order>
    </div>
  </div>
 
  <div class="row no-gutters">
    <div class="col-12">

      <app-movie-list-display [movies]="movieListArray"></app-movie-list-display>
    </div>

  </div>
  <div class="row no-gutters">
    <div class="col-12">
      <app-show-next></app-show-next>
    </div>
  </div>

  <div class="row no-gutters">
    <div class="col-12">
      <app-movies-best-sellers></app-movies-best-sellers>    </div>
  </div>

